<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AdresseRpcPolygon" value="https://polygon-rpc.com"/>
		<add key="ChainIdPolygon" value="137"/>
		<add key="AdresseRpcBSC" value="https://bsc-dataseed.binance.org/"/>
		<add key="ChainIdBSC" value="56"/>
		<add key="AdresseRpcAVAX" value="https://api.avax.network/ext/bc/C/rpc"/>
		<add key="ChainIdAVAX" value="43114"/>
		<add key="ContractSunflower" value="0x6e5fa679211d7f6b54e14e187d34ba547c5d3fe0"/>
		<add key="ContractTokenSFF" value="0xdf9b4b57865b403e08c85568442f95c26b7896b0"/>
		<add key="ContractSunflowerCharity" value="0x060697E9d4EEa886EbeCe57A974Facd53A40865B"/>
	</appSettings>
</configuration>