<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AdresseRpcPolygon" value="https://polygon-rpc.com"/>
		<add key="ChainIdPolygon" value="137"/>
		<add key="AdresseRpcBSC" value="https://bsc-dataseed.binance.org/"/>
		<add key="ChainIdBSC" value="56"/>
		<add key="AdresseRpcAVAX" value="https://api.avax.network/ext/bc/C/rpc"/>
		<add key="ChainIdAVAX" value="43114"/>
	</appSettings>
</configuration>
